<div [@routerTransition]>

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("General Categories")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("Manage general categoriy types")}}
                </span>
            </div>
            <div class="col-xs-6 text-right">

            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form autocomplete="off">
                    <div class="m-form m-form--label-align-right" id="TypesFilterForm">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-sm-12">
                                <button (click)="createType()"
                                    *ngIf="isGranted('Pages.CategoryTypes.General.Create')"
                                    class="btn btn-primary"><i class="fa fa-plus"></i>
                                    {{l("Create")}}
                                </button>
                                <button class="btn btn-success btn-md" data-toggle="collapse"
                                    href="#categoryCollapseFilter">
                                    <i class="fa fa-filter"></i>
                                    Filter
                                </button>
                                <button type="button" class="btn btn-success"
                                    (click)="exportToExcelCategoryTypes()"><i class="fa fa-file-excel-o"></i>
                                    {{l("ExportToExcel")}}
                                </button>
                                <button (click)="typeRefresh()" name="RefreshButton" class="btn btn-basic">
                                    <i class="fa fa-refresh"></i>
                                    {{l('Refresh')}}
                                </button>
                                <div class="input-group" id="typeCollapseFilter">
                                    <select class="form-control" title="All status"
                                        [(ngModel)]="filters.Status" type="text"
                                        name="Status">
                                        <option>All status</option>
                                        <option>Active</option>
                                        <option>Inactive</option>
                                    </select>
                                    <input [(ngModel)]="filters.Name" name="Name"
                                        autoFocus class="form-control" placeholder="{{l('Name...')}}"
                                        type="text">
                                    <input [(ngModel)]="filters.Prefix" name="Prefix"
                                        autoFocus class="form-control" placeholder="{{l('Prefix...')}}"
                                        type="text">
                                    <span class="input-group-btn">
                                        <button (click)="applyTypeFilters($event)" class="btn btn-basic"
                                            type="submit"><i class="icon-refresh"></i>
                                            {{l("Apply Filters")}}</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                        
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelperTypes.isLoading">
                        <p-table #typeTable (onLazyLoad)="getTypes($event)"
                            [value]="primengTableHelperTypes.records"
                            rows="{{primengTableHelperTypes.defaultRecordsCountPerPage}}"
                            [paginator]="false" [lazy]="true"
                            [responsive]="primengTableHelperTypes.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="symbol">
                                        {{l('PrefixWord')}}
                                        <p-sortIcon field="symbol"></p-sortIcon>
                                    </th>
                                    <th>
                                        {{l('Description')}}
                                    </th>
                                    <th>
                                        {{l('Status')}}
                                    </th>
                                    <th style="width: 100px">
                                        {{l('Action')}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="ui-column-title">{{l('Name')}}</span>
                                        <span title="{{record.name}}">{{record.name}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">{{l('PrefixWord')}}</span>
                                        <span title="{{record.prefixWord}}">{{ record.prefixWord }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">{{l('Description')}}</span>
                                        <span title="{{record.description}}">{{record.description}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">{{l('Status')}}</span>
                                        <span *ngIf="record.status == true">{{l('Active')}}</span>
                                        <span *ngIf="record.status == false">{{l('Inactive')}}</span>
                                    </td>
                                    <td>
                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            title="{{l('Edit')}}" (click)="editType(record.id)">
                                            <i class="fa fa-edit" [attr.aria-label]="l('Edit')"></i>
                                        </button>
                                        <button
                                            class="btn btn-danger m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            title="{{l('Delete')}}" (click)="deleteType(record.id)">
                                            <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelperTypes.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelperTypes.defaultRecordsCountPerPage}}"
                                #paginatorType (onPageChange)="getTypes($event)"
                                [totalRecords]="primengTableHelperTypes.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelperTypes.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelperTypes.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditTypeModal #createOrEditTypeModal (modalSave)="refreshValueFromTypeModal()"></createOrEditTypeModal>
</div>
