<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="hanghoa.id">{{l("EditHangHoa")}}: {{hanghoa.goodsName}}</span>
                    <span *ngIf="!hanghoa.id">{{l("CreateNewHangHoa")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Mã hàng hóa</label>
                    <p>{{hanghoa.goodsCode}}</p>
                </div>
                <div class="form-group">
                    <label>Tên hàng hóa</label>
                    <p>{{hanghoa.goodsName}}</p>
                </div>
                <div class="form-group">
                    <label>Chủng loại</label>
                    <p>{{hanghoa.type}}</p>
                </div>
                <div class="form-group">
                    <label>Đơn giá</label>
                    <p>{{hanghoa.price}}</p>
                </div>
                <div class="form-group">
                    <label>Nước sản xuất</label>
                    <p>{{hanghoa.countryOfManufacture}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
                <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span></button>
            </div>
        </div>
    </div>
</div>
