<div class="modal-content">
    <form #editForm="ngForm" novalidate >
        <div class="modal-header">
            <h4 class="modal-title">
                <span>Cập nhật công trình</span>
            </h4>
            <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="row m--margin-bottom-10">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Mã Công trình *</label>
                        <input #mactInput="ngModel" class="form-control" type="text" name="maCongTrinh"
                            [(ngModel)]="congtrinh.maCongTrinh" required disabled maxlength="64">
                        <validation-messages [formCtrl]="mactInput"></validation-messages>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Tên Công trình *</label>
                        <input #tenctInput="ngModel" class="form-control" type="text" name="TenCongTrinh"
                            [(ngModel)]="congtrinh.tenCongTrinh" required  maxlength="64">
                        <validation-messages [formCtrl]="tenctInput"></validation-messages>
                    </div>
                </div>
            </div>

            <div class="row m--margin-bottom-10">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Địa chỉ công trình *</label>
                        <input #dcInput="ngModel" class="form-control" type="text" name="diaChiCongTrinh"
                            [(ngModel)]="congtrinh.diaChiCongTrinh" required  maxlength="64">
                        <validation-messages [formCtrl]="dcInput"></validation-messages>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Loại công trình *</label>
                        <select #trangthaiduyetCombobox name="maLoaiCongTrinh" class="form-control"
                            [(ngModel)]="congtrinh.maLoaiCongTrinh" jq-plugin="selectpicker" required>
                            <option [value]="">Sửa chữa</option>
                            <option [value]="">Xây mới</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m--margin-bottom-10">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Mã kế hoạch *</label>
                        <input #makhInput="ngModel" class="form-control" type="text" name="MaKeHoach"
                            [(ngModel)]="keHoachForView.maKeHoach" required disabled maxlength="64">
                        <validation-messages [formCtrl]="makhInput"></validation-messages>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Diện tích công trình *</label>
                        <input #dtInput="ngModel" class="form-control" type="number" min="1" name="dienTichCongTrinh"
                            [(ngModel)]="congtrinh.dienTichCongTrinh" required maxlength="64">
                        <validation-messages [formCtrl]="dtInput"></validation-messages>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Tiến độ *</label>
                        <input #tdtInput="ngModel" class="form-control"   type="text"  name="tienDoThucHien"
                            [(ngModel)]="congtrinh.tienDoThucHien" required maxlength="64">
                        <validation-messages [formCtrl]="tdtInput"></validation-messages>
                    </div>
                </div>
            </div>
            <div class="row m--margin-bottom-10">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Chi phí công trình *</label>
                        <input #kpddInput="ngModel" class="form-control" type="text" name="kinhPhiDuocDuyet"
                            [(ngModel)]="congtrinh.kinhPhiDuocDuyet" required disabled maxlength="64">
                        <validation-messages [formCtrl]="kpddInput"></validation-messages>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Chi phí Đã sử dụng *</label>
                        <input #kpddInput="ngModel" class="form-control" type="text" name="chiPhiDaSuDung"
                            [(ngModel)]="congtrinh.chiPhiDaSuDung" required disabled maxlength="64">
                        <validation-messages [formCtrl]="kpddInput"></validation-messages>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày dự kiến thực hiện *</label>
                        <input #dkxdInput="ngModel" class="form-control" type="text" name="duKienXayDung"
                            [(ngModel)]="congtrinh.duKienXayDung" required  maxlength="64">
                        <validation-messages [formCtrl]="dkxdInput"></validation-messages>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Mô tả công trình *</label>
                <input #mtctInput="ngModel" class="form-control" type="text" name="moTaCongTrinh"
                    [(ngModel)]="congtrinh.moTaCongTrinh" required maxlength="64">
                <validation-messages [formCtrl]="mtctInput"></validation-messages>

            </div>
            <!-- <div class="form-group">
                        <label for="checkbox-inline">
                        </label>
                        <select id="isActive" name="isActive" [(ngModel)]="isActive" class="form-group"></select>
                    </div> -->
        </div>

        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
            <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save()" [disabled]="!editForm.form.valid"
                [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                <span>{{l("Save")}}</span></button>
        </div>
    </form>
  
</div>
