<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="phieugoihang.id">{{l("EditPhieuGoiHang")}}: {{phieugoihang.planName}}</span>
                    <span *ngIf="!phieugoihang.id">{{l("CreateNewPhieuGoiHang")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Mã kế hoạch</label>
                    <p>{{phieugoihang.planCode}}</p>
                </div>
                <div class="form-group">
                    <label>Tên kế hoạch</label>
                    <p>{{phieugoihang.planName}}</p>
                </div>
                <div class="form-group">
                    <label>Tên hợp đồng</label>
                    <p>{{phieugoihang.contractName}}</p>
                </div>
                <div class="form-group">
                    <label>Tên đơn vị</label>
                    <p>{{phieugoihang.unitName}}</p>
                </div>
                <div class="form-group">
                    <label>Tên hàng hóa</label>
                    <p>{{phieugoihang.goodsName}}</p>
                </div>
                <div class="form-group">
                    <label>Số lượng</label>
                    <p>{{phieugoihang.amount}}</p>
                </div>
                <div class="form-group">
                    <label>Đơn giá</label>
                    <p>{{phieugoihang.price}}</p>
                </div>
                <div class="form-group">
                    <label>Quá trình thanh toán</label>
                    <p>{{phieugoihang.paymentProcess}}</p>
                </div>
                <div class="form-group">
                    <label>Tiến độ giao hàng</label>
                    <p>{{phieugoihang.shippingProcess}}</p>
                </div>
                <div class="form-group">
                    <label>Tình trạng hóa đơn</label>
                    <p>{{phieugoihang.billStatus}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
                <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span></button>
            </div>
        </div>
    </div>
</div>
