<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="rentalAsset.id">Cập Nhật Tài Sản Cho Thue: {{rentalAsset.rentalAssetCode}}</span>
                        <span *ngIf="!rentalAsset.id">Tạo Mới Tài Sản Cho Thuê</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group m-form__group row">
                        <div class="form-control">
                            <label for="SampleDatePicker" class="col-md-12">Thông tin tài sản</label>
                            <div class="form-group">
                                    <label>Tên tài sản*</label>
                                <div class="row m--margin-bottom-10">
                                    <div class="col-xl-6">
                                            <input #assetNameInput="ngModel" class="form-control" type="text"
                                                name="AssetName" [(ngModel)]="asset.assetName" disabled required
                                                maxlength="64">
                                            <validation-messages [formCtrl]="assetNameInput"></validation-messages>
                                        
                                    </div>
                                    <div class="col-xl-6">
                                        <button  *ngIf="!rentalAsset.id" [disabled]="saving" type="button" (click)="selectAsset()"
                                            class="btn btn-primary"><i class="fa fa-plus"></i>
                                            {{l("Chọn tài sản")}}</button>
                        
                                    </div>
                                </div>



                            </div>

                            <div class="form-group">
                                    <label>Mã tài sản*</label>
                                    <input #assetCodeInput="ngModel" class="form-control" type="text" name="AssetCode"
                                        [(ngModel)]="asset.assetCode" disabled required maxlength="64">
                                    <validation-messages [formCtrl]="assetCodeInput"></validation-messages>
                                </div>
                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-6">
                                    <label>Loại tài sản*</label>
                                    <input #assetTypeInput="ngModel" class="form-control" type="text" name="AssetType"
                                        [(ngModel)]="asset.assetType" disabled required>
                                    <validation-messages [formCtrl]="assetTypeInput"></validation-messages>

                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Nhóm tài sản*</label>
                                        <input #assetGroupNameInput="ngModel" class="form-control" type="text"
                                            name="AssetGroupName" [(ngModel)]="asset.assetGroupName" disabled required>
                                        <validation-messages [formCtrl]="assetGroupNameInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                    <label>Tình trạng*</label>
                                    <input #assetStatusInput="ngModel" class="form-control" type="text" name="AssetStatus"
                                        [(ngModel)]="asset.assetStatus" disabled required maxlength="64">
                                    <validation-messages [formCtrl]="assetStatusInput"></validation-messages>
                                </div>
    


                            <div class="form-group">
                                <label>Giá trị*</label>
                                <input #assetValueInput="ngModel" class="form-control" type="number"
                                    name="AssetValue" [(ngModel)]="asset.assetValue" disabled required>
                                <validation-messages [formCtrl]="assetValueInput"></validation-messages>

                            </div>


                            <div class="form-group">
                                <label>Ghi Chú*</label>
                                <input #noteInput="ngModel" class="form-control" type="text" name="Note"
                                    [(ngModel)]="asset.note" disabled required>
                                <validation-messages [formCtrl]="noteAssetInput"></validation-messages>

                            </div>


                            <div class="form-group">
                                <label>Ảnh:</label>
                                <img class="rounded d-block" src={{asset.linkofImage}} width="200" height="200" alt="image" disabled>
                        </div>
                        </div>


                    </div>






                    <label>Thông tin tài sản cho thuê*</label>
                    <div class="form-group">
                        <label>Giá trị khấu hao*</label>
                        <input #depreciationValueInput="ngModel" class="form-control" type="number" name="DepreciationValue"
                            [(ngModel)]="rentalAsset.depreciationValue" required maxlength="64">
                        <validation-messages [formCtrl]="depreciationValueInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label>Tỷ lệ khấu hao*</label>
                        <input #depreciationRateInput="ngModel" class="form-control" type="number" name="DepreciationRate"
                            [(ngModel)]="rentalAsset.depreciationRate" required maxlength="64">
                        <validation-messages [formCtrl]="depreciationRateInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label>Giá trị thuê*</label>
                        <input #rentalValueInput="ngModel" class="form-control" type="number" name="RentalValue"
                            [(ngModel)]="rentalAsset.rentalValue" required maxlength="64">
                        <validation-messages [formCtrl]="rentalValueInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label>Ghi chú*</label>
                        <input #noteInput="ngModel" class="form-control" type="text" name="Note"
                            [(ngModel)]="rentalAsset.note" required maxlength="64">
                        <validation-messages [formCtrl]="noteInput"></validation-messages>
                    </div>
                    <!-- <div class="form-group">
                        <label for="checkbox-inline">
                        </label>
                        <select id="isActive" name="isActive" [(ngModel)]="isActive" class="form-group"></select>
                    </div> -->
                </div>




                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>



            </form>
        </div>
    </div>
    <viewRentalAssetModal #viewRentalAssetModal></viewRentalAssetModal>
    <selectAssetModal #selectAssetModel (modalSave)="updateAsset()"></selectAssetModal>
</div>