.table tr td {
    background-color: white;
}

table {
    border: 1px solid #32383e;
    margin-bottom: 18px;
}

table tr:hover td {
    background-color: #e9ebee;
}

.data-table-section label {
    font-weight: bold;
}

.data-table-section-body {
    background-color: white;
    padding: 32px;
    border-radius: 3px;
}

.data-table-section {
    margin: 0 16px;
}

.data-table-section-header {
    margin-bottom: 12px;
}

.data-table-section-body {
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    background-color: #fff;
    padding: 24px;
    border-radius: 6px;
    margin-bottom: 24px;
}

.paging-button,
.button {
    margin-right: 6px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    border: 1px solid gray;
    text-align: center;
    display: inline-block;
}

.button {
    padding: 12px;
}

.paging-button {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.paging-button:hover,
.button:hover {
    color: white;
    background-color: #36a3f7;
    border: 1px solid white;
}

table tr:nth-child(even) td {
    background-color: #F2F3F8;
}

table tr {
    cursor: pointer;
}

.popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    overflow: hidden;
}

.popup {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup-header {
    margin: 24px;
    padding-bottom: 3px;
    border-bottom: 1px solid #dadde1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-body {
    padding: 6px 24px;
}

.popup-header-title {
    font-size: 16px;
}

.popup-header-close-button {
    color: gray;
    cursor: pointer;
    font-size: 15px;
}

.popup-footer {
    margin-left: 24px;
    margin-right: 24px;
    border-top: 1px solid #dadde1;
    padding: 12px 0;
}

.popup-footer .button {
    padding: 6px 12px;
}

label {
    font-weight: bold;
}

@media print {
    .data-table-filters {
        display: none;
    }

    .data-table-buttons {
        display: none;
    }

    .table-pagination {
        display: none;
    }
}

@media (max-width: 420px) {
    .table-pagination-buttons {
        text-align: center !important;
        margin-top: 12px;
    }

    .table-pagination-message {
        text-align: center;
    }

    label {
        margin-top: 6px;
    }

    .data-table-buttons {
        text-align: left !important;
    }

    .data-table-buttons .button {
        padding: 10px 12px;
    }

    .table-wrapper {
        width: 100%;
        overflow-x: scroll;
    }

    .data-table-section-body {
        overflow: hidden;
    }

    .popup {
        width: 100%;
        z-index: 999;
        overflow-y: scroll;
        height: 100vh;
        border-radius: 0;
    }
}