<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Chi tiết Bât động sản")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-control">
                    <div class="form-group">
                        <label>Mã tài sản:</label>
                        <p>{{taisan.maTaiSan}}</p>
                    </div>

                    <div class="form-group">
                        <label>Địa chỉ:</label>
                        <p>{{taisan.diaChi}}</p>
                    </div>
                    <div class="form-group">
                        <label>Tên tài sản:</label>
                        <p>{{taisan.tenTaiSan}}</p>
                    </div>
                    <div class="form-group">
                        <label>Nhóm tải sản:</label>
                        <p>{{taisan.maNhomTaiSan}}</p>
                    </div>
                    <div class="form-group">
                        <label>Loại tải sản:</label>
                        <p>{{taisan.maLoaiTaiSan}}</p>
                    </div>
                    <div class="form-group">
                        <label >Nguyên giá:</label>
                        <p>{{taisan.nguyenGiaTaiSan}}</p>
                    </div>
                </div>
                <div class="form-control">
                   
                    <div class="form-group">
                        <label style="color: royalblue">Mã Bất động sản:</label>
                        <p>{{batdongsan.maBatDongSan}}</p>
                    </div>

                    <div class="form-group">
                        <label>Hiện trạng bất động sản:</label>
                        <p>{{batdongsan.hienTrangBDS}}</p>
                    </div>
                    <div class="form-group">
                        <label>Loại bất động sản:</label>
                        <p>{{batdongsan.maLoaiBDS}}</p>
                    </div>

                    <div class="form-group">
                        <label>Chiều dài:</label>
                        <p>{{batdongsan.chieuDai}}</p>
                    </div>
                    <div class="form-group">
                        <label>Chiều rộng:</label>
                        <p>{{batdongsan.chieuRong}}</p>
                    </div>
                    <div class="form-group">
                        <label>Diện tích đất nền:</label>
                        <p>{{batdongsan.dienTichDatNen}}</p>
                    </div>
                    <div class="form-group">
                        <label>Diện tích xây dựng:</label>
                        <p>{{batdongsan.dienTichXayDung}}</p>
                    </div>
                    <div class="form-group">
                        <label>Tình trạng sử dụng đất:</label>
                        <p>{{batdongsan.maTinhTrangSuDungDat}}</p>
                    </div>
                    <div class="form-group">
                        <label>Công năng sử dụng:</label>
                        <p>{{batdongsan.congNangSuDung}}</p>
                    </div>
                    <div class="form-group">
                        <label>Kết cấu nhà:</label>
                        <p>{{batdongsan.ketCauNha}}</p>
                    </div>
                    <div class="form-group">
                        <label>Ranh giới:</label>
                        <p>{{batdongsan.ranhGioi}}</p>
                    </div>
                    <div class="form-group">
                        <label>Hiện trạng pháp lý:</label>
                        <p>{{batdongsan.maHienTrangPhapLy}}</p>
                    </div>
                    <div class="form-group">
                        <label>Loại sở hữu:</label>
                        <p>{{batdongsan.maLoaiSoHuu}}</p>
                    </div>
                    <div class="form-group">
                        <label>Chủ sở hữu:</label>
                        <p>{{batdongsan.chuSoHuu}}</p>
                    </div>
                    <div class="form-group">
                        <label>Ghi chú:</label>
                        <p>{{batdongsan.ghiChu}}</p>
                    </div>
                    <div class="form-group">
                        <label>File đính kèm:</label>
                        <p>{{batdongsan.fileDinhKem}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getSuaChuaBatDongSans($event)"
                            [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Ngày đề xuất

                                    </th>
                                    <th>
                                        Ngày sửa xong

                                    </th>
                                    <th>
                                        Mã tài sản

                                    </th>

                                    <th>
                                        Tên tài sản
                                    </th>
                                    <th>
                                        Người đề xuất
                                    </th>


                                    <th>
                                        Nhân viên phụ trách
                                    </th>
                                    <th>
                                        Trạng thái

                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td>
                                        <span class="ui-column-title">STT</span>
                                        <span title="{{i+1}}">{{i+1}}</span>
                                    </td>

                                    <td>
                                        <span class="ui-column-title">Ngày đề xuất</span>
                                        <span
                                            title="{{record.ngayDeXuat| date:'dd-MMM-yyyy'}}">{{truncateString(record.ngayDeXuat)| date:'dd-MMM-yyyy'}}</span>
                                    </td>

                                    <td>
                                        <span class="ui-column-title">Ngày sửa xong</span>
                                        <span
                                            title="{{record.ngaySuaXong| date:'dd-MMM-yyyy'}}">{{truncateString(record.ngaySuaXong | date:'dd-MMM-yyyy')}}</span>
                                    </td>



                                    <td>
                                        <span class="ui-column-title">Mã tài sản</span>
                                        <span title="{{record.maTaiSan}}">{{truncateString(record.maTaiSan)}}</span>
                                    </td>


                                    <td>
                                        <span class="ui-column-title">Tên tài sản</span>
                                        <span title="{{record.tenTaiSan}}">{{truncateString(record.tenTaiSan)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Người đề xuất</span>
                                        <span
                                            title="{{record.nguoiDeXuat}}">{{truncateString(record.nguoiDeXuat)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Nhân viên phụ trách</span>
                                        <span
                                            title="{{record.nhanVienPhuTrach}}">{{truncateString(record.nhanVienPhuTrach)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Trạng Thái</span>
                                        <span
                                            title="{{record.trangThaiSuaChua}}">{{truncateString(record.trangThaiSuaChua)}}</span>
                                    </td>


                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getSuaChuaBatDongSans($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
</div>